@import "~containers/App/Constants";

.paperNav {
  bottom: 0;
  width: 100%;
  position: fixed;
}

.frostedPaperNav {
  -webkit-filter: blur(3px);
}

.paperNavTab {
  background-color: $secondary-color;

  height: 66px !important;
}
