@import "~containers/App/Constants";

.card {
  background-color: $positive-color !important;
  font: white;
  height: 70px;
  margin: 10px;

  .cardText {
    color: #fff !important;
    padding: 28px 14px !important;
    font-size: 16px !important;
    font-weight: 400;

    .titleIcon {
      padding-right: 18px;
    }
  }
}
