.card {
  height: 70px;
  margin: 10px;
}

.card:hover {
  @extend .card;

  background-color: #5477FF !important;
  font: white;

  .cardText {
    color: #fff !important;
    padding: 28px 14px !important;
  }
}

.cardText {
  padding: 28px 14px !important;
}
