@import "~containers/App/Constants";

.card {
  height: 70px;
  margin: 10px;

  .cardText {
    padding: 28px 14px !important;
    font-size: 16px !important;
    font-weight: 400;

    .titleIcon {
      padding-right: 18px;
    }
  }
}

.cardList {
  background: url(./gecko.png) center no-repeat;
  background-size: 20%;
  bottom: 70px;
  top: 135px;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
