@import "~containers/App/Constants";

.card {
  height: 70px;
  margin: 10px;

  .cardText {
    padding: 28px 14px !important;
    font-size: 16px !important;
    font-weight: 400;

    .titleIcon {
      padding-right: 18px;
    }
  }

  &:hover {
    background-color: $positive-color !important;
    font: white;

    .cardText {
      color: #fff !important;
    }
  }
}
